<div class="container mt-3">
    <div *ngIf="loading" class="alert alert-info">Loading</div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="text-end">
        <button class="btn btn-dark">+Add Patient</button>
    </div>
    <table *ngIf="!loading && !error" class="table table-bordered table-striped mt-3">
        <thead class="table-dark table-primary">
            <tr>
                <th>PatientId</th>
                <th>Name</th>
                <th>FrontDesk</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Problem</th>
                <th>History</th>
                <th>Address</th>
                <th>Pincode</th>
                <th>Registration Date</th>
                <th>Action</th>
                <th>Assign</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patientList"> 
                <td>{{patient.patientId}}</td>
                <td>{{patient.fullName}}</td>
                <td>{{frontdeskMap[patient.frontdeskId] || 'Loading...' }}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.presentProblem}}</td>
                <td>{{patient.previousHistory}}</td>
                <td>{{patient.address}}</td>
                <td>{{patient.pincode}}</td>
                <td>{{patient.createdOn}}</td>
                <td>
                    <button class="btn btn-dark" (click)="AddVitalsPopup(patient.patientId)">Vitals</button>
                </td>
                <td>
                    <button class="btn btn-info" (click)="AssignDoctorPopup(patient)">Assign</button>
                </td>

            </tr>
        </tbody>
    </table>

<div class="modal fade show d-block" tabindex="-1" *ngIf="showvitalspopup">
    <div class="modal-dialog modal-dialog-centered ">
       <div class="modal-content shadow-lg">
             <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">{{isEditMode ? 'Edit Vitals' : 'Add Vitals'}}</h5>
                <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="model-body p-3 modal-dialog-scrollable">
                <form (ngSubmit)="onSubmitVitals()" #vitalsForm="ngForm">
                  <div class="row">
                    <div class="col-6 col-6 mb-2">
                        <label for="bp" class="form-label">Blood Pressure</label>
                        <input type="text" id="bp" class="form-control" placeholder="Enter BP Value"  name="bp" [(ngModel)]="newPatinetVitals.bp" required>
                    </div>
                    <div class="col-6 col-6 mb-2">
                        <label for="sugar" class="form-label">Suger</label>
                        <input type="text" id="sugar" class="form-control" placeholder="Enter sugar Value"  name="sugar" [(ngModel)]="newPatinetVitals.sugar" required>
                    </div>
                    <div class="col-6 col-6 mb-2">
                        <label for="height" class="form-label">Height</label>
                        <input type="number" id="height" class="form-control" placeholder="Enter height Value"  name="height" [(ngModel)]="newPatinetVitals.height" required>
                    </div>
                    <div class="col-6 col-6 mb-2">
                        <label for="weight" class="form-label">weight</label>
                        <input type="number" id="weight" class="form-control" placeholder="Enter weight Value"  name="weight" [(ngModel)]="newPatinetVitals.weight" required>
                    </div>
                    <div class="col-6 col-6 mb-2">
                        <label for="spO2" class="form-label">spO2</label>
                        <input type="number" id="spO2" class="form-control" placeholder="Enter spO2 Value"  name="spO2" [(ngModel)]="newPatinetVitals.spO2" required>
                    </div>
                  </div>  
                </form>
                <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                    <button class="btn btn-success" (click)="onSubmitVitals()" [disabled]="saving">
                        {{ saving ? 'Saving...' : 'Save' }}
                    </button>
             </div>
            </div>
       </div>
    </div>
</div>   

<div class="modal fade show d-block" tabindex="-1" *ngIf="showConsultPopup">
    <div class="modal-dialog modal-dialog-centered ">
       <div class="modal-content shadow-lg">
             <div class="modal-header bg-dark text-white">
                <h5 class="modal-title">{{isAddConsultMode ? 'Edit Vitals' : 'Assign Doctor'}}</h5>
                <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="closeModal()"></button>
            </div>
                 <div class="model-body p-3 modal-dialog-scrollable">
                        <form (ngSubmit)="onSubmitConsult()" #consultForm="ngForm">
                            <div class="col-6 col-6 mb-2">
                                <label for="doctor" class="form-label">Select Doctor</label>
                                <select id="doctor" class="form-control" name="doctorId" [(ngModel)]="newConsult.doctorId" required>
                                    <option value="" selected>Select Doctor</option>
                                    <option *ngFor="let doc of doctors" [value]="doc.doctorId">
                                        {{ doc.fullName }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-6 col-6 mb-2">
                                <label for="doctor" class="form-label">Enter Fee</label>
                                <input type="text" id="doctor" class="form-control" placeholder="Enter Fee"  name="doctor" [(ngModel)]="newConsult.fee" required>
                            </div>
                           
                        </form>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                            <button class="btn btn-success" (click)="onSubmitConsult()" [disabled]="saving">
                                {{ saving ? 'Saving...' : 'Save' }}
                            </button>
                        </div>
                 </div>
       </div>
    </div>
</div>


</div>
